<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кабинет {{kb[0]}}</title>
    <style>
        .tile {
            width: 200px;
            height: 100px;
            background-color: lightblue;
            margin: 10px;
            display: inline-block;
            text-align: center;
            line-height: 100px;
        }
    </style>
</head>
<body>
    <form action="#" method="post">
        <div class = "container">
            <input type = "submit" value="Начать экзамен" name="btn">
            <input type = "submit" value="Завершить экзамен" name="btn">
            <input type = "submit" value="Печать запущена" name="btn">
            <input type = "submit" value="Печать завершена" name="btn">
            <input type = "submit" value="Вызвать техника" name="btn">
            <input type = "submit" value="Вызвать Члена ГЭК" name="btn">
            <div class="tile">Кабинет {{kb[0]}}</div>
            <div class="tile">Статус {{st[0]}}</div>
        </div>
    </form>
</body>
</html>